<div class="about-conatiner">
  Daily Vanity is the #1 beauty media in Singapore, and a fast-growing start-up.
  Winner of the Fastest Growing Online Beauty Magazine at the Global Brand
  Awards 2019 and Runner-up for Best Lifestyle/Leisure News Site at the The Drum
  Online Media Awards 2020, Daily Vanity has grown from strength to strength
  since its founding in 2012. With more than half a million viewers per month,
  Daily Vanity is a reliable media resource for beauty novices and beauty
  enthusiasts alike. We have content for everyone regardless of age and spending
  preference. We are trusted by our readers which leads to us gaining trust from
  various luxury skincare brands, dermatologist brands, mass brands, and small
  beauty business owners.
</div>
