.card-container {
  width: 350px;
  box-shadow: 1px 1px 8px black;
  margin: 0 auto;

  .mat-form-field {
    width: 100% !important;
  }
  .btn-login,
  .btn-google-login {
    margin: 0 auto;
    display: block;
    width: 250px;
  }
}
