<div class="profile-container" *ngIf="photoUrl">
  <div class="sub-container">
    <div>
      <img
        class="profile-picture"
        width="100"
        height="100"
        src="{{ photoUrl }}"
      />
    </div>
    <div>
      <mat-card class="card-profile">
        <mat-card-subtitle>Profile</mat-card-subtitle>
        <div>
          ID: <span class="span-user-id">{{ id }} </span>
        </div>
        <br />
        <div>
          Name: <span class="span-user-name">{{ name }} </span>
        </div>
        <br />
        <div>
          Email: <span class="span-user-email">{{ email }} </span>
        </div>
        <br />
        <div>
          authToken: <span class="span-user-authToken">{{ authToken }} </span>
        </div>
        <br />
        <div>
          ID Token: <span class="span-user-idToken">{{ idToken }} </span>
        </div>
        <br />
        <div>
          Authorization code:
          <span class="span-user-authorizationCode"
            >{{ authorizationCode }}
          </span>
        </div>
        <br />
        <div>
          Response: <span class="span-user-response">{{ response }} </span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
